{% load static %}
<html>

<head>
  <title>The Sheet! | Home </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>

  <div class="header">
    <h1>Welcome to The Sheet!</h1>
    <!-- Intro Paragraph on homepage -->
    <p>We have all wanted it, and now it has finally been delivered. I give you, a working website of The Sheet!</p>

  <!--Sign Up Form-->
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign In</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <input type="checkbox" checked="checked"> Remember me

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign In</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
 <!--End Sign Up Modal-->

    <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="OverallStandings"><a href="#">Overall Standings</a></li>
        <li class="MonthlyStandings"><a href="#">Monthly Standings</a>
          <ul>
            <li><a href="#">October</a></li>
            <li><a href="#">November</a></li>
            <li><a href="#">December</a></li>
            <li><a href="#">January</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">March</a></li>
          </ul>
        </li>
        <li class="OctoberSheets"><a href="#">October Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
        <li class="NovemberSheets"><a href="#">November Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
        <li class="DecemberSheets"><a href="#">December Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
        <li class="JanuarySheets"><a href="#">January Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
        <li class="FebruarySheets"><a href="#">February Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
        <li class="MarchSheets"><a href="#">March Sheets</a>
          <ul>
            <li><a href="#">Sheet 1</a></li>
            <li><a href="#">Sheet 2</a></li>
            <li><a href="#">Sheet 3</a></li>
            <li><a href="#">Sheet 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="logo">
  </div>
  <h2> Rules of The Sheet</h2>

  <h3><u>Lines</u></h3>
  <p>Please use the below link to acces the lines that you will be using for the sheet</p>
  <a href="http://pregame.com/sportsbook_spy/default.aspx" target="_blank">Sportsbook Spy</a>

  <h3><u>Payouts</u></h3>
  <p>Payouts are as followed<br />
    <!--Payout Table-->
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
              .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
      				.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
      				.tg .tg-rg0h{font-size:12px;text-align:center;vertical-align:top}
      				.tg .tg-yw4l{vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-dx8v">Participants</th>
        <th class="tg-yw4l">1st Place Payout</th>
        <th class="tg-yw4l">2nd Place Payout</th>
      </tr>
      <tr>
        <td class="tg-yw4l">8</td>
        <td class="tg-yw4l">100</td>
        <td class="tg-yw4l">20</td>
      </tr>
      <tr>
        <td class="tg-yw4l">9</td>
        <td class="tg-yw4l">120</td>
        <td class="tg-yw4l">20</td>
      </tr>
      <tr>
        <td class="tg-yw4l">10</td>
        <td class="tg-yw4l">140</td>
        <td class="tg-yw4l">20</td>
      </tr>
      <tr>
        <td class="tg-yw4l">11</td>
        <td class="tg-yw4l">140</td>
        <td class="tg-yw4l">40</td>
      </tr>
      <tr>
        <td class="tg-yw4l">12</td>
        <td class="tg-yw4l">160</td>
        <td class="tg-yw4l">40</td>
      </tr>
    </table>
    <p>**In the event of a tie, payouts will be split between the winners</p>
    <!--End Payout Table-->
    <h3><u>How To Submit Picks</u></h3>
    <p> You MUST pick 5 games per day (unless there are less than 5 live games that day)<br /> You MAY NOT use College Nicknames (you cannot use Go Dawz as Georgia)<br/> All picks should be submitted in the following fashion:</p>
    <ol>
      <li>UMASS +3</li>
      <li>FLORIDA -7.5</li>
      <li>GEORGIA +20</li>
      <li>UCONN -4</li>
      <li>STANFORD +10.5</li>
    </ol>

    <h3><u>Line Movement</u></h3>
    <p>You are 100% responsible for picking the best possible line.<br/> If you enter in a pick in the morning (for example FSU +10, and it moves to FSU +13), you have until tip off to change the line on the sheet.<br/> If someone else on the sheet has the
      same pick as you with a different line, you are responsible for changing your pick to the best possible line BEFORE TIPOFF.<br/> If the pick locks in and someone has a better line than you, you cannot change it to the better line
      <h3><u> Standings Explained</u> </h3>
      <p>Win % is the determinant of the standings Pushes do not count as losses, and are not used in the win percentge - so pushes are sometimes a good thing and can help you win the week (youll have a higher winnning percentage hopefully).<br/> DNP = Did
        not pick. DNPs do not count towards your overall standings, but do affect your weekly standings, meaning you cant pick 1 game correctly and then DNP the rest of the week.<br/> DNPs will not affect the overall standings board - just weekly.


</body>

</html>